<!-- Button trigger modal -->
<button type="button" class="btn btn-success mb-3" @onclick="ToggleModal">
  Add data
</button>

<!-- Modal -->
<div class="@ModalClass" id="exampleModal" tabindex="-1" role="dialog" style="@ModalStyle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Weather Forecast</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="ToggleModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inlineFormCustomSelect" class="col-form-label">Date:</label>
            <select @bind="@_forecast.Date" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
                @foreach(DateTime date in _dates)
                {
                    <option value="@date">@date.ToShortDateString()</option>
                }
            </select>
          </div>
          <div class="form-group">
            <label for="summary" class="col-form-label">Summary:</label>
            <input @bind="@_forecast.Summary" type="text" class="form-control" id="summary">
          </div>
          <div class="form-group">
            <label for="temp" class="col-form-label">Temperature C&deg;:</label>
            <input @bind="@_forecast.TemperatureC" type="number" class="form-control" id="temp">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" @onclick="ToggleModal">Close</button>
        <button type="button" class="btn btn-primary" @onclick="SaveChanges">Save changes</button>
      </div>
    </div>
  </div>
</div>

@code {
  
  [Parameter]
  public bool ShowModal { get; set; }
  
  [Parameter]
  public FetchData.WeatherForecast[] Forecasts { get; set; }
  
  [Parameter]
  public EventCallback<FetchData.WeatherForecast[]> ForecastsChanged { get; set; }
  
  private const string HideModalClass = "modal fade";
  private const string ShowModalClass = "modal fade show";
  private string ModalClass => ShowModal ? ShowModalClass : HideModalClass;
  private string ModalStyle => ShowModal ? "display: block;" : "";
  private List<DateTime> _dates = new();
  private FetchData.WeatherForecast _forecast = new();

  protected override void OnInitialized()
  {
    for (int i = 6; i < 13; i++)
    {
      _dates.Add(DateTime.Now.AddDays(i));
    }
  }
  
  private void ToggleModal() => ShowModal = !ShowModal;

  private async void SaveChanges()
  {
    var forecasts = Forecasts.ToList();
    forecasts.Add(_forecast);
    await ForecastsChanged.InvokeAsync(forecasts.ToArray());
    
    ToggleModal();
    _forecast = new FetchData.WeatherForecast();
  }

}