﻿<Card Header="Weather Data">
    <BodyComplex>
        <Table Items="Forecasts" Context="forecast">
            <TableHeader>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </TableHeader>
            <RowTemplate>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </RowTemplate>
        </Table>
    </BodyComplex>
</Card>

@code {
    [Parameter]
    public FetchData.WeatherForecast[] Forecasts { get; set; }
}

