﻿<div class="card">
    @*style="width: 18rem"*@
    <div class="card-header">@Header</div>
    <div class="card-body">
        @Body

        <hr />

        @BodyComplex
    </div>
    <div class="card-footer">
        @Footer
    </div>
</div>

@code {
    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public string Body { get; set; }

    [Parameter]
    public RenderFragment BodyComplex { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }
}

