﻿@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increase count</button>

<hr />

<Card Header="Counter" Body="@count">
    <BodyComplex>
        <p class="card-text">Current count in complex body: @currentCount</p>
    </BodyComplex>

    <Footer>
        <button class="btn btn-primary" @onclick="DecrementCount">Decrease count</button>
    </Footer>
</Card>

@code {
    private int currentCount = 0;
    private string count => $"Current count: {currentCount}";

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
